:root {
  --default-0: 255 255 255;
  --default-50: 250 250 250;
  --default-100: 245 245 245;
  --default-200: 229 229 229;
  --default-300: 212 212 212;
  --default-400: 163 163 163;
  --default-500: 115 115 115;
  --default-600: 82 82 82;
  --default-700: 64 64 64;
  --default-800: 38 38 38;
  --default-900: 23 23 23;
  --default-950: 10 10 10;
  --default-1000: 0 0 0;

  --primary-50: 255 247 237;
  --primary-100: 255 237 213;
  --primary-200: 254 215 170;
  --primary-300: 253 186 116;
  --primary-400: 251 146 60;
  --primary-500: 249 115 22;
  --primary-600: 234 88 12;
  --primary-700: 194 65 12;
  --primary-800: 154 52 18;
  --primary-900: 124 45 18;
  --primary-950: 67 20 7;

  --info-50: 239 246 255;
  --info-100: 219 234 254;
  --info-200: 191 219 254;
  --info-300: 147 197 253;
  --info-400: 96 165 250;
  --info-500: 59 130 246;
  --info-600: 37 99 235;
  --info-700: 29 78 216;
  --info-800: 30 64 175;
  --info-900: 30 58 138;
  --info-950: 23 37 84;

  --success-50: 240 253 244;
  --success-100: 220 252 231;
  --success-200: 187 247 208;
  --success-300: 134 239 172;
  --success-400: 74 222 128;
  --success-500: 34 197 94;
  --success-600: 22 163 74;
  --success-700: 21 128 61;
  --success-800: 22 101 52;
  --success-900: 20 83 45;
  --success-950: 5 46 22;

  --warning-50: 254 252 232;
  --warning-100: 254 249 195;
  --warning-200: 254 240 138;
  --warning-300: 253 224 71;
  --warning-400: 250 204 21;
  --warning-500: 234 179 8;
  --warning-600: 202 138 4;
  --warning-700: 161 98 7;
  --warning-800: 133 77 14;
  --warning-900: 113 63 18;
  --warning-950: 66 32 6;

  --error-50: 254 242 242;
  --error-100: 254 226 226;
  --error-200: 254 202 202;
  --error-300: 252 165 165;
  --error-400: 248 113 113;
  --error-500: 239 68 68;
  --error-600: 220 38 38;
  --error-700: 185 28 28;
  --error-800: 153 27 27;
  --error-900: 127 29 29;
  --error-950: 69 10 10;
}

:root[class="dark"] {
  --default-0: 0 0 0;
  --default-50: 10 10 10;
  --default-100: 23 23 23;
  --default-200: 38 38 38;
  --default-300: 64 64 64;
  --default-400: 82 82 82;
  --default-500: 115 115 115;
  --default-600: 163 163 163;
  --default-700: 212 212 212;
  --default-800: 229 229 229;
  --default-900: 245 245 245;
  --default-950: 250 250 250;
  --default-1000: 255 255 255;

  --primary-50: 67 20 7;
  --primary-100: 124 45 18;
  --primary-200: 154 52 18;
  --primary-300: 194 65 12;
  --primary-400: 234 88 12;
  --primary-500: 249 115 22;
  --primary-600: 251 146 60;
  --primary-700: 253 186 116;
  --primary-800: 254 215 170;
  --primary-900: 255 237 213;
  --primary-950: 255 247 237;

  --info-50: 23 37 84;
  --info-100: 30 58 138;
  --info-200: 30 64 175;
  --info-300: 29 78 216;
  --info-400: 37 99 235;
  --info-500: 59 130 246;
  --info-600: 96 165 250;
  --info-700: 147 197 253;
  --info-800: 191 219 254;
  --info-900: 219 234 254;
  --info-950: 239 246 255;

  --success-50: 5 46 22;
  --success-100: 20 83 45;
  --success-200: 22 101 52;
  --success-300: 21 128 61;
  --success-400: 22 163 74;
  --success-500: 34 197 94;
  --success-600: 74 222 128;
  --success-700: 134 239 172;
  --success-800: 187 247 208;
  --success-900: 220 252 231;
  --success-950: 240 253 244;

  --warning-50: 66 32 6;
  --warning-100: 113 63 18;
  --warning-200: 133 77 14;
  --warning-300: 161 98 7;
  --warning-400: 202 138 4;
  --warning-500: 234 179 8;
  --warning-600: 250 204 21;
  --warning-700: 253 224 71;
  --warning-800: 254 240 138;
  --warning-900: 254 249 195;
  --warning-950: 254 252 232;

  --error-50: 69 10 10;
  --error-100: 127 29 29;
  --error-200: 153 27 27;
  --error-300: 185 28 28;
  --error-400: 220 38 38;
  --error-500: 239 68 68;
  --error-600: 248 113 113;
  --error-700: 252 165 165;
  --error-800: 254 202 202;
  --error-900: 254 226 226;
  --error-950: 254 242 242;
}
